@{
    ViewBag.Title = "Registration Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger alert-dismissable">
    <h3>Registration Error</h3>
    <br/>
    <p>There was an error confirming your email. Please try again.</p>
</div>
