@{
    ViewBag.Title = "ConfirmationSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="alert alert-success alert-dismissable">
        <h3>Registration Completed</h3>
        <br/>
        <p>You have completed the registration process. You can now logon to the system by clicking <a href="~/Account/Login">here</a>.</p>
    </div>
