@{
    ViewBag.Title = "InvalidEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InvalidEmail</h2>

<p>Sorry your email doesn't exsist. Please try <a href="~/Account/ForgetPassword">again</a></p>