@{
    ViewBag.Title = "Registerion Step Two";
}

<div class="alert alert-info">
    <h4>Great</h4> <p>You got this far, now check your email to see if you got an email from us. Make sure we are not in your spam inbox.</p>
</div>
