@{
    ViewBag.Title = "Registerion Step Two";
    Layout = "~/Views/Shared/Festival.cshtml";
}

<h2>Great</h2>

<p>YOu got this far, now check your email to see if you got an email from us. Make sure we are not in your spam inbox.</p>
