@{
    ViewBag.Title = "ResetPwStepTwo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <a href="../Account/ForgetPassword">Forget Password</a> > <label>Reset Password Step 2</label>
</ol>


<div class="alert alert-info">
    <h2>Rest Password Step 2</h2>
    <h4>Great</h4> <p>You got this far, now check your email to see if you got an email from us. Make sure we are not in your spam inbox.</p>
</div>
