@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1 style="margin: 10px;">@ViewBag.Title</h1>
</hgroup>

<article class="jumbotron" style="margin: 10px;">
    <h2 style="margin: 10px;">@ViewBag.Message</h2>
    <br/>
    Hi, and thank you for downloading MyFestival Mobile App. Find out what's on right now with MyFestival, the must have app for Irish cultural event listings in Ireland and abroad.
    Whatever is your location, this user friendly app will show you a broad range of Irish cultural events to choose from.
    The mobile apps use location-aware technology to provide an instant map of Irish cultural events in your area and step-by-step directions for how to get there.
    <br/>
    <br/>
    <br/>
    <ul>
        <img src="~/Images/orderedList1.png"/><b> Download</b> it now for free and choose any festival that is happening near you!
        <br/>
        <br/>
        <img src="~/Images/orderedList2.png"/><b> Register</b> now for free and upload all festival content to <a href="https://www.myfestival.azurewebsites.net">www.myfestival.azurewebsites.net</a> to promote and increase your exposure with this multi platform service.
    </ul>
</article>